<!DOCTYPE html>
<html>
  <head>
    <title>Koala</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= action_cable_meta_tag %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% if controller_name == 'posts' && action_name == 'index' %>
      <% forest_images = ["forest.jpg", "forest2.jpg", "forest3.jpg"] %>
      <% random_image = forest_images.sample %>
      <div class="pied" style="background-image: url(<%= asset_path(random_image) %>);">
        <p class="descript"><br>Plongez dans notre univers de découvertes  et d'inspirations.
                Enrichir vos connaissances</p>
    <% end %>
    <%= render "shared/footer"%>
    </div>
  </body>
</html>
